<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @site.number %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @site.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @site.address %>
</p>

<p>
  <strong>Acct mgr:</strong>
  <%= @site.acct_mgr %>
</p>

<p>
  <strong>Branch mgr:</strong>
  <%= @site.branch_mgr %>
</p>

<%
=begin%>
 <p>
  <strong>Workorder:</strong>
  <%= @site.workorder_id %>
</p> 
<%
=end%>

<%= link_to 'Edit', edit_client_site_path(@site) %> |
<%= link_to 'Back', client_sites_path %>
